[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
jupyterlab = "==0.35.0"
pandas = "*"

[requires]
python_version = "3.7"
